.singleCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.67);
    padding: 35px;
}
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.container {
    margin: 0 270px;
    width: auto;
}

.singleCard img {
    height: 250px;
    border-radius: 5px;
}
.singleCard span {
    color: #650072;
    font-size: 25px;
}

.price-box {
    text-align: left;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
}

.card-price {
    font-weight: bold;
    display: flex;
}

.card-price span {
    background-color: red;
    color: white;
    padding: 3px;
}

.card-add-to-btn {
    color: #fff;
    background: palevioletred;
    font-size: 1em;
    margin: 1.5em;
    margin-top: 1.5em;
    padding: 5px 0;
    border: 2px solid palevioletred;
    border-radius: 3px;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    width: 190px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.card-add-to-btn > span {
    color: white;
    font-size: 20px;
}

.close__modal-wrapper {
    position: relative;
    bottom: 5px;
    font-weight: bold;
    color: #f0f1ff;
    background-color: #6b826a;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.card-name-box {
    display: flex;
    justify-content: space-between;
    margin: 25px 15px;
    height: 40px;
}

.card-name {
    color: #27292b;
    font-weight: bold;
    margin: 0;
}

.star-size {
    width: 27px;
    height: 27px;
}

.star-size:hover {
    width: 34px;
    height: 34px;
}

.cart-size {
    width: 20px;
    height: 20px;
}

.color-box {
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 15px;
}