.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-style {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 25px;
    border: 2px solid darkviolet;
}

.form-style input {
    padding: 15px;
    margin: 10px;
}

.form-style span {
    color: red;
    margin: 5px 10px;
}