.circle-box {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    margin: 15px;
}

.btnWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid grey;
    padding: 20px;
}