body {
  overflow-x: hidden;
}

.modal {
  margin-left: 104%;
  margin-bottom: 36%;
  box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.42);

  &__header-text {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 45px;
    font-size: 14px;
    background-color: blueviolet;
    color: #fff;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-style: initial;
    font-weight: bold;
  }

  &__main-text {
    background-color: darkorchid;
    padding: 30px 8px 15px 8px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}

.login {
  margin-top: 30px;
  border-radius: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
}


.modal-wrapper {
  left: 17%;
  right: auto;
  bottom: 30%;
  top: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  height: 100vh;

  &-inner {
    position: relative;
    bottom: 320px;
    max-width: 100%;
    margin-bottom: 1000px;
    border-radius: 8px;
    color: white;
  }

  .modal-bg-wrapper {
    position: absolute;
    z-index: -5;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10000%;
    height: 10000%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


.add-to-card {
  padding: 8px 20px;
  background-color: rgba(255, 13, 81, 0.65);
  border: none;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}