.fieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.inputBox {
    display: flex;
}

.baseClass {
    padding: 15px;
    outline: darkgrey 2px solid;
    border: none;
}

.baseClass:hover {
    padding: 20px;
}

.spanPrice {
    font-size: 14pt;
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Bold";
    color: #1a1d20;
}

.errorMessage {
    font-size: 14pt;
    font-family: "AdobeInvisFont", "Courier", "OpenSans-Bold";
    color: red;
    margin-top: 25px;
}

.inputActive {
    outline-color: green;
}

.inputError {
    outline-color: red;
}

.wrapResult {
    border: black 1.5px solid;
    border-radius: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    height: 55px;
    margin: 25px;
}

.resultSpan {
    border: darkgrey 1px solid;
    border-radius: 50%;
    padding: 10px;
}

a {
    text-decoration: none;
}