.table-style {
    margin: 0 auto;
    width: 1500px;
    height: 1500px;
}

.td-style {
    border: 1.5px solid grey;
    
}

.td-background-color {
    background-color: black;
}

.test {
    background-color: white;
}