
.slider-box,
.slider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-box {
    flex-direction: column;
}

.slider-box__img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 0 55px;
    box-sizing: border-box;
}

.slide-image {
    width: 400px;
    height: 400px;
}

.slider-box__img img {
    display: none;
}

.slider-box__img img:first-child {
    display: flex;
}

.slick-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #4c4c4c;
    color: white;
    font-size: 32pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.prev:before {
    content: '\2039';
}

.next:before {
    content: '\203a';
}

.small-btn {
    display: flex;
    padding: 0;
}

.small-btn li {
    list-style: none;
    margin: 0 5px;
}

.small-btn__item {
    background: gray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
}

.list-active {
    background: #4c4c4c;
}