*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

.header {
	width: 100%;
  	height: 110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: darkviolet;
	margin-bottom: 20px;

	&__logo {
		display: flex;
		color: white;
		font-size: 24pt;
		font-family: 'Courier New', Courier, monospace;
		font-style: italic;
		width: 15%;
	}

	&__nav {
		width: 85%;
	}

	&__link-list {
		display: flex;
		list-style-type: none;
		margin: 0;
		height: 55px;
		justify-content: center;
		align-items: center;
		padding-right: 100px;
	}

	&__link-list > li {
		margin: 0 55px;
	}

	&__link {
		color: white;
		font-size: 18pt;
	}

	&__link:hover {
		color: black;
	}
	
}

.phone-size {
	width: 55px;
	height: 55px;
}