
.li {
  list-style-type: none;
}

.flex-elem {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 15px;
  height: 15px;
  margin: 10px;
}

.phone-card-height {
  height: 600px;
}

.info-card-height {
  height: 250px;
}

.card-box {
  width: 600px;
  padding: 100px;
  border: 2px solid darkgray;
  margin: 75px;
}

.flex-card {
  flex-basis: 25%;
}

.add-button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: darkmagenta;
  color: white;
  font-size: 15pt;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.delete-button {
  width: 270px;
  height: 60px;
  border: 1px solid darkred;
  font-size: 15pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 40px;
}

.cart-style {
  width: 20px;
  height: 20px;
  margin: 0 5px 10px 5px;
}

.star-style {
  width: 30px;
  height: 30px;
}

.cancel-style {
  width: 30px;
  height: 30px;
  margin: 0 5px 5px 10px;
}

.modal-style {
  width: 500px;
  height: 250px;
  border: 1.5px solid silver;
  position: absolute;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  left: 600px;
  top: 200px;
  flex-direction: column;
}

.modal-button-style {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cross-style {
  width: 30px;
  height: 30px;
  border: none;
  background-color: silver;
}

.no-items-style {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}