
.footer__box {
  @include flex-direction__column;
  justify-content: start;
  align-items: center;
  background-color: black;
  width: 100%;
  margin-top: 35px;
}

.footer__title {
  @include roboto__fonts;
  font-weight: bold;
  font-size: $footer__title__font-size;
  line-height: 22px;
  color: #FEFEFE;
  padding-top: 35px;
}

.footer-descriptions {
  @include roboto__fonts;
  font-weight: normal;
  font-size: $footer-desc__font-size;
  line-height: 20px;
  color: #B9B9B9;
  text-align: center;
  padding: 15px 45px 15px 45px;
}

.footer__contacts {
  @include roboto__fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #B9B9B9;
}

.contact-box {
  @include flex-direction__column;
  justify-content: center;
  align-items: center;
}

.the-last {
  padding-bottom: 50px;
}

.footer_icons {
  display: flex;
}

.icon__prop {
  width: $icon__prop__width_and_height;
  height: $icon__prop__width_and_height;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 25px 5px 45px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rss-icon {
  border-color: #F8902E;
  color: #F8902E;
  background-size: 100%;
}

.facebook-icon {
  border-color: #39599F;
  color: #39599F;
}

.twitter-icon {
  border-color: #45B0E3;
  color: #45B0E3;
}

.dribbble-icon {
  border-color: #D97AB0;
  color: #D97AB0;
}
.pinterest-icon {
  border-color: #CC212C;
  color: #CC212C;
}