@import "variables";

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  align-items: flex-end;
  margin: 0;
  font-size: $menu__mobile__font-size;
}

.menu-toggle {

  position: absolute;
  top: 0.7em;
  right: 0.9em;
  border: 0;
  font-size: $menu-toggle__mobile__font-size;
  width: $menu-toggle__mobile__width;
  height: $menu-toggle__mobile__height;
  background-color: black;
  color: white;

}

.menu-toggle::after {
  position: absolute;
  top: -0.05em;
  display: block;
  content: "\2261";
  text-indent: 0;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 75px;
  width: $menu-dropdown__mobile__width;
}

.nav-menu {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu li:hover {
  background-color: lightgrey;
}

.nav-menu li + li {
  border-top: 1px solid lightgrey;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  padding: 0.7em 1em;
  font-weight: normal;
}

.main-logo {
  margin-top: 6.6em;
  height: $main-logo__mobile__height;
  background: url("../img/mobile-img/intro-img 1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 29.5px;
  margin-right: 29.5px;
}

