
.main {
  margin: $body__margin;
}

.main__title {
  @include roboto__fonts;
  font-weight: bold;
  font-size: $main__title__font-size;
  line-height: 22px;
  margin: 30px 0 30px 0;
}

.main__posts-box,
.main__posts-box__elem {
  @include flex-direction__column;
}

.main__post-img {
  width: $main__post-img__width;
  height: $main__post-img__height;
}

.tea {
  background: url("../img/mobile-img/post-img 1.png");
  @include back-size;
}

.walk {
  background: url("../img/mobile-img/post1img 1.png");
  @include back-size;
}

.cafe {
  background: url("../img/mobile-img/post2img 1.png");
  @include back-size;
}

.flower {
  background: url("../img/mobile-img/post-img 1(1).png");
  @include back-size;
}

.hidden-post {
  display: none;
}

.main__post--descriptions {
  margin: 15px 0 15px 0;
}

.main__descriptions-bold {
  @include roboto__fonts;
  font-weight: bold;
  font-size: $main__desc-bold__font-size;
}

.main__descriptions-light {
  @include roboto__fonts;
  font-weight: normal;
  font-size: $main__desc-bold__font-size - 1;
  color: #7C7C7C;
}

.mobile__hidden-text {
  @include roboto__fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
  display: none;
}