
@media (min-width: 450px) {
  .main-logo {
    height: $main-logo__mobile__height + 35;
  }
  .main__post-img {
    width: $main__post-img__width + 40;
    height: $main__post-img__height + 35;
  }
}
@media (min-width: 615px) {
  .main-logo {
    height: $main-logo__mobile__height + 110;
  }
  .main__title {
    font-size: $main__title__font-size + 4;;
    line-height: 32px;
  }
  .main__post-img {
    width: $main__post-img__width + 95;
    height: $main__post-img__height + 85;
  }
  .main__descriptions-bold {
    font-size: $main__desc-bold__font-size + 4;
  }
  .main__descriptions-light {
    font-size: 15px;
  }
  .footer__title {
    font-size: $footer__title__font-size + 4;
  }
  .footer-descriptions {
    font-size: $footer-desc__font-size +2;
  }
}

@media (min-width: 768px) {
  .main-logo {
    height: 361px;
    background: url("../img/desktop-img/intro-img 1(1).png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5em;
  }
  .mobile__hidden-text {
    display: block;
  }
  .menu {
    flex-direction: row;
    align-items: center;
    font-size: 11pt;
  }
  .menu-toggle {
    display: none;
  }
  .menu-dropdown {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 29.5px;
  }
  .nav-menu li + li {
    border-top: none;
  }
  .contact-box {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .the-last {
    padding-bottom: 0;
  }
  .hidden-post {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .main-logo {
    height: 550px;
    background: url("../img/desktop-img/intro-img 1(2).png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5em;
  }
  .main__posts-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main__posts-box__elem {
    flex-direction: row;
    flex-basis: 50%;
    flex-wrap: nowrap;
  }
  .main__post-img {
    width: 355px;
    height: 155px;
    margin: 25px 30px 25px 30px;
  }
}