
@mixin roboto__fonts {
  font-family: Roboto;
  font-style: normal
}

@mixin flex-direction__column {
  display: flex;
  flex-direction: column;
}

@mixin back-size {
  background-size: 100%;
  background-repeat: no-repeat;
}