//body
$body__font-family: Helvetica, Arial, sans-serif;
$body__margin: 0 29.5px 0 29.5px;

//mobile font
$menu__mobile__font-size: 14pt;
$menu-toggle__mobile__font-size: 1.7em;

$main__title__font-size: 14px;
$main__desc-bold__font-size: 12px;

$footer__title__font-size: 14px;
$footer-desc__font-size: 12px;
$footer__contacts__font-size: 14px;

//mobile width/height
$menu-toggle__mobile__width: 44px;
$menu-toggle__mobile__height: 37px;
$menu-dropdown__mobile__width: 60%;
$main-logo__mobile__height: 150px;

$main__post-img__width: 160px;
$main__post-img__height: 140px;

$icon__prop__width_and_height: 34px;