.table-style {
    margin: 0 auto;
    
}

.td-style {
    border: 1.5px solid grey;
    width: 65px;
    height: 65px;
}

.form-game-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.button-game-style {
    margin-top: 20px;
    width: 125px;
}