
.cards-style {
    width: 40rem;
    padding: 5rem;
    margin: 0 auto 1.5rem;
    background-color: #f6f9fb;
}

.btn-wrap-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-style {
    width: 7rem;
    padding: 0.7rem;
}

.form-card {
    border: 1.5px solid grey;
    width: 50%;
    background-color: lightgrey;
    margin-left: 25%;
    position: absolute;
    z-index: 1;
}

.dn {
    display: none;
}

.db {
    display: block;
}