.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.image-to-show {
    width: 300px;
    height: 300px;
}

.images-wrapper img {
    display: none;
}

.images-wrapper img:first-child {
    display: block;
}

.rotate-text {
    transform:rotate(-45deg);
-ms-transform:rotate(-45deg); /* IE 9 */
-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
}